@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@font-face{
    font-family: Douglas;
    src: url("../fonts/OpenDyslexicAlta-Regular.otf");
}

/******** Dark Mode ********/
:root {
    --body-background: #F3F5F8;
    --body-background-buscar: #F2F3F4;
    --body-background-card: #FFF;
    --font-color: #3D405B;
    --font-color-link: #3D405B;
    --body-box-shadow: 0 8px 20px 0 rgb(158 184 209 / 43%)
}
.dark-mode {
    --body-background: #1A202E;
    --body-background-buscar: #1F2439;
    --body-background-card: #272E48;
    --font-color: #FFF;
    --font-color-link: #0D6EFD;
    --body-box-shadow: 0
}
/****************************/
body {
    /*font-family: 'Roboto', sans-serif !important;*/
    font-size: 15px !important;
    background-color: var(--body-background)
}
/******** Dark Theme ********/
.dark-theme .checkbox {
    opacity: 0;
    position: absolute
}
.dark-theme .checkbox:checked + .label .ball {
    transform: translateX(24px)
}
.dark-theme .label {
    position: relative;
    width: 46px;
    height: 22px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    transform: scale(1.5)
}
.dark-theme .label .bi-moon-fill {
    color: #F1C40F;
}
.dark-theme .label .bi-brightness-high-fill {
    color: #F39C12;
}
.dark-theme .label .ball {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    left: 2px;
    background-color: #FFF;
    border-radius: 50%;
    transform: translateX(0px);
    transition: transform 0.2s linear
}
/****************************/

/********** Header **********/
.navbar.bg-blue {
    background-color: #3D405B !important;
}
.navbar .navbar-brand img {
	width: 4rem;
}
.navbar .nav-item.login i {
    font-size: 2.4rem;
	color: #E07A5F;
}
/****************************/

/*********** Main ***********/
main.main-page {
    margin-top: 4rem;
    padding-top: 2rem;
	padding-bottom: 2rem
}
/****************************/

/********* Sections *********/
section h1, h4, h5, h6, label {
    color: var(--font-color)
}
section.section-home {
    margin-top: 4rem;
}
section.section-home > .carousel > .carousel-inner > .carousel-item {
	height: 55vh;
}
section.section-home .form-busca-destino {
    position: relative;
    margin-top: -5rem;
    padding: 2rem;
    background-color: #F2CC8F;
    border-radius: 5px;
    box-shadow: var(--body-box-shadow)
}
/****************************/

/********* Articles *********/
article table tbody tr td {
	color: var(--font-color)	
}
article.article-index {
	height: 100vh;
	margin-top: 0;
	background-image: url('../images/fundo_2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
article.article-index > section {
	height: 100vh;
	text-align: center;
}
article.article-index > section > img {
	width: 60%;
}
article.article-index > section .pesquisar {
    width: 80%;
    border-radius: 15px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-image: url(../images/lupa.png);
    background-size: 1.5vw;
}
article.article-home {
    padding-top: 2rem;
	padding-bottom: 2rem;
}
/****************************/

/*********** Card ***********/
.card {
    background-color: var(--body-background-card);
    box-shadow: var(--body-box-shadow);
}
.card img {
    height: 9rem
}
.card .card-body h5, p {
	color: var(--font-color);
    font-size: .9rem
}
.card .card-body .cards-link {
    text-decoration: none;
    color: var(--font-color-link);
    font-weight: 700
}
.reserva {
	width: 100%;
    padding: 0 1rem 1rem 1rem
}
/****************************/

/********* Offcanva *********/
.offcanvas {
    background-color: var(--body-background-card)
}

.offcanvas .offcanvas-header h5 {
    color: var(--font-color)
}
/****************************/

/*********** Text ***********/
.text-left {
    text-align: justify;
}
/****************************/

/******** Google Map ********/
.map-responsive {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.map-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/****************************/

/*********** Modal **********/
.modal .modal-body {
	background-color: var(--body-background)
}
.modal .modal-body textarea {
    height: 140px;
    margin-bottom: 1rem;
    resize: none
}
.modal .modal-body > .border {
	background-color: var(--body-background)
}
.modal .modal-body > .border h5 {
	color: var(--font-color)
}
/****************************/

/********** Footer **********/
footer {
    padding: 3rem 0 !important;
	background-color: #F2CC8F;
}
footer p, h5 {
    color: #3D405B;
}
footer ul li {
    font-size: 1.4rem;
}
/****************************/

@media(max-width:576px) {

    .pesquisar{
        width: 90%;
        border-radius: 15px;
        padding-left: 25px;
        background-repeat: no-repeat;
        background-position: 10px center;
        background-image: url(../images/lupa.png);
        background-size: 3.5vw;

    }

    section.section-home > .carousel {
        display: none;
    }
    section.section-home .form-busca-destino {
        margin-top: 6rem;
    }
}