@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.navegacao {
    position: relative;
    width: 960px;
    height: 200px;
    top: -5rem;
    background-color: #F2CC8F;
    border-radius: 5px;
    z-index: 10;
}
.navegacao__title {
    font-weight: 700;
}
.navegacao__btn {
    background-color: #3D405B;
    color:#ffffff;
}
.pesquisar {
    border-radius: 15px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-image: url(../images/lupa.png);
    background-size: 1.5vw;
}

/********** Header **********/
.navbar.bg-blue {
    background-color: #3D405B !important;
}
.navbar .navbar-brand img {
	width: 4rem;
}
.navbar .nav-item.login i {
    font-size: 2.4rem;
	color: #E07A5F;
}
/****************************/

/*********** Main ***********/
main.main-home > section {
    margin-top: 4rem;
}
main.main-home > section > .carousel > .carousel-inner > .carousel-item {
	height: 55vh;
}
main.main-page {
    margin-top: 4rem;
    padding-top: 2rem;
	padding-bottom: 2rem;
}
/****************************/

/********* Articles *********/
article.article-index {
	height: 100vh;
	margin-top: 0;
	background-image: url('../images/fundo_2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
article.article-index > section {
	height: 100vh;
	text-align: center;
}
article.article-index > section > img {
	width: 60%;
}
article.article-index > section .form-control  {
	width: 60%;
}
article.article-home-content {
    padding-top: 2rem;
	padding-bottom: 2rem;
}
article.article-home-content {
    margin-top: -4rem;
}

/****************************/

/*********** Card ***********/
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card img {
    height: 10rem;
}
.card .card-body h5 {
	font-size: 1rem;
	font-weight: 700;
}
.card .card-body p {
	font-size: .9rem;
}
.cards-link {
    text-decoration: none;
    color: #3D405B;
    font-weight: 700;
}
.reserva{
    position: absolute;
    bottom: 10px;
    width: 90%;
}
/****************************/
.text-left{
    text-align: justify;
}
/******* Google Maps *******/
.map-responsive {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.map-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/****************************/

/********** Footer **********/
footer {
    padding: 3rem 0 !important;
	color: #3D405B;
	background-color: #F2CC8F;
}
footer ul li {
    font-size: 1.4rem;
}
/****************************/

@media(max-width:576px) {

    .navegacao{
        position: relative;
        width: 80%;
        height: 220px;
        top:-16rem;
        background-color: #F2CC8F;
        border-radius: 5px;
        z-index: 10
    }
    article.article-home-content {
       margin-top: -15rem;
    }
}